<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="wwww.kimmohintikka.com">Rails learning project</a>
      by <a href="wwww.kimmohintikka.com">Kimmo Hintikka</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>